.contact-me__form
  .contact-me__title 
    .block-subtitle.block-subtitle_white Связаться со мной
  
  .contact-me__group
    .contact-me__input Ваше имя 
    // (placeholder="Ваше имя")
    .contact-me__input Ваш email
    .contact-me__input_text Ваше сообщение

  .contact-me__footer
    button(type="submit" value="submit").contact-me__submit.contact-me__button.contact-me__button_active Отправить
    button(type="reset" value="reset").contact-me__reset.contact-me__button Очистить  