form.contact-me__form#contact_me
  .contact-me__status
  .contact-me__title 
    .block-subtitle.block-subtitle_white Связаться со мной
  .contact-me__group
    input(name="name" placeholder="Ваше имя" type="text").contact-me__input.contact-me__input_name
    input(name="email" placeholder="Ваш Email" type="email").contact-me__input.contact-me__input_email
    textarea(name="msg" placeholder="Ваше сообщение").contact-me__input.contact-me__input_msg
  .contact-me__footer
    button(type="submit" value="submit").contact-me__button.contact-me__submit.contact-me__button_active Отправить
    button(type="reset" value="reset").contact-me__button.contact-me__reset Очистить    