.blog__articles
          .article#art1(data-link=`#art1`)
            .article__subtitle Метод гибкого управления проектом Agile
            .article__date 25 марта 2018
            .article__text.text-content
              .article__subsubtitle 4 идеи Agile
              p Люди и взаимодействие важнее процессов и инструментов.
              p Рабочее программное обеспечение важнее документации.
              p Сотрудничество с клиентами важнее согласования условий контракта.
              p Готовность внести изменения в приоритете, нежели придерживаться первоначального плана.

              .article__subsubtitle 12 принципов Agile
              p Удовлетворенность клиентов за счет ранней и непрерывной поставки программного обеспечения. 
              p Клиенты более счастливы, когда они получают рабочее программное обеспечение через регулярные промежутки времени.
              p Вносить изменения требований к продукту  на протяжении всего процесса разработки.
              p Частая поставка рабочего программного обеспечения (каждый месяц, две недели, неделю и т.д.).
              p Сотрудничество между заинтересованными сторонами (заказчиком и разработчиками) на протяжении всего проекта.
              p Поддержка, доверие и мотивация вовлеченных людей. Мотивированные команды с большей вероятностью выполняют свою лучшую работу, чем сотрудники, недовольные условиями труда.
              p Взаимодействие лицом к лицу. Коммуникация более успешна, когда команды разработчиков имеют возможность общаться напрямую.
              p Рабочее программное обеспечение является основной мерой прогресса. Предоставление функционального программного обеспечения клиенту является конечным фактором, который измеряет прогресс.
              p Поддержка постоянного темпа работы. Команды устанавливают повторяемую и поддерживаемую скорость работы, с которой они могут доставлять функционирующее программное обеспечение.
              p Внимание к техническим деталям и дизайну. Правильные навыки и хороший дизайн позволяют команде поддерживать темп, постоянно совершенствовать продукт и работать над изменениями.
              p Простота.
              p Самоорганизующиеся команды поощряют отличную архитектуру, требования и проекты. Квалифицированные и мотивированные члены команды, которые обладают полномочиями принимать решения, регулярно общаются с другими членами команды и обмениваются идеями, которые обеспечат создание качественного продукта.
              p Постоянная адаптация к изменяющимся условиям, что поможет сделать продукт более конкурентоспособным на рынке.

              .article__subsubtitle Собственный опыт
              p Работала по идеям и принципам Agile в конце 90х. Но мы тогда не знали, что это так красиво будет называться. ПО обновлялось раз в 3 дня, изменения вносились по ходу работы заказчика с ПО. Я была единственным программистом. Смотрела, как работают, предлагала автоматизировать процесс. Заказчик удивлялся: "а что так можно?". Можно всё, вопрос - что нужно из всего, что можно! Был азарт, двигались быстро. Все были счастливы)
            
          .article#art2(data-link=`#art2`)
            .article__subtitle Любимые цитаты
            .article__date  25 марта 2018
            .article__text.text-content
              p "Принимайте решения самостоятельно. Не готовьте по чужим рецептам." (c) 
              p "Обычно, сложными нам кажутся дела, которые до конца непонятны. Так сделайте их простыми и понятными. Любое большое задание или проект можно разбить на несколько простых пунктов, выполнение каждого из которых не представляет для вас проблему." (c) Здесь в формулировке пункта важно ответить на вопрос, какой будет первый шаг, что конкретно сделать - найти, позвонить, написать.

              p "Ответственность - это способность откликаться на то, что жизнь предлагает или предоставляет вам прямо сейчас (responsibility = ability to respond)." (c)

              p "Мы много работаем потому, что ума не хватает" (с)
          .article#art3(data-link=`#art3`)
            .article__subtitle Стек технологий для fullstack веб-разработчика
            .article__date 22 ноября 2016
            .article__text.text-content
              p терминал (conemu)
              p редактор (sublime, vscode, atom, др) 
              p git
              p node.js
              p npm
              p gulp, webpack
              p html, pug
              p css, scss, normalize, foundation
              p svg
              p ajax
              p js
              p jQuery
              p Angular, React, Vue
              p bootstrap
              p BEM
              p php
              p адаптив
              p БД
              p photoshop (illustrator, corell)
              p seo
              p сервер и хостинг
              p управление проектами
              p управление собой
            
          