.triangle.triangle_fill_white.about__left-triangle
  svg(viewbox="0 0 1000 150" preserveAspectRatio="none").triangle__svg
    polygon(points="0,0 0,150 1000,150")
.triangle.triangle_fill_white.about__right-triangle
  svg(viewbox="0 0 1000 150" preserveAspectRatio="none").triangle__svg
    polygon(points="1000,0 1000,150 0,150")