.blog {
  position: relative;
  @extend %clearfix;
}
.blog-row {
  margin-top: 10px;
  padding: 20px 10px;
}
	.blog__menu-sidebar {
		float: left;
	  text-align: right;
	  font-family: "Roboto";
	  font-size: 16px;
	  width: 30%;
	  @include ipad {
	    display: none;
	  }
	}
	.blog__content {
	  width:70%;
		float: right;
	  @include ipad {
	    width:100%;
	  }
	}
