.socials__container {
  position: absolute;
  top: 30px;
  left:30px;
  z-index: 30;
}

.socials {
  display: inline-block;
  margin: 25px 20px;
}
.socials__list{
}
.socials__item {
  display: inline-block;
  margin: 0 10px;
  &:first-child {
    margin-left:0;
  }
  &:last-child {
    margin-right:0;
  }
}

.social__icon {
  width: 30px;
  height: 25px;
  &:hover {
    fill: $social-hover-color;
  }
}
.social_white {
  fill: $social-header-color;  
}
.social_gray {
  fill: $social-footer-color;    
}