extends ../_template

include ../sections/_header
include ../sections/_footer

block variables
  - var title = 'Виктория Аверкиева - Блог'
  - var description = 'Виктория Аверкиева - Блог'
  include ../sections/_variables
  //-&nbsp; - как вставить?
  

block content
  include ../sections/preloader
  +header(true)

  section.blog
    include ../components/blog/triangles

    .blog-row
      aside.blog__menu-sidebar#js_menu_sidebar
        include ../components/blog/menu-sidebar
      .blog__content#js_scroll_blog
        include ../components/blog/articles
        
block footer
  +footer()
  +footer('bottom')

